$darkestblue: #020c1b;
$darkblue: #060f1d;
$navy: #0a192f;
$teal: #008080;
$lightblue: #22344e;
$lightblueopac: rgba(34, 52, 78, 0.9);
$white: white;
$gray: #777575;
$darkgray: #222121;

.fourohfour-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  overflow: hidden;
}

.title-container {
  //   dont forget to change sunanimation time length
  margin-bottom: 50px;
  animation: sunblock 50s linear infinite;
}
@keyframes sunblock {
  0% {
    filter: brightness(100%);
  }
  43% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(15%);
  }
  57% {
    filter: brightness(100%);
  }
  100% {
    filter: brightness(100%);
  }
}

.cloud,
.cloud2 {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: $teal;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  left: 0;
}

.cloud {
  animation: floatby 60s linear infinite;
}

.cloud2 {
  animation: floatby2 120s linear infinite;
  animation-delay: 15s;
  transform: scale(1.5) translateX(-200px);
}

.cloud::before,
.cloud2::before {
  content: "";
  height: 100px;
  width: 100px;
  position: absolute;
  background-color: $teal;
  border-radius: 50%;
  margin-left: -50px;
  margin-top: 50px;
}

.cloud::after,
.cloud2::after {
  content: "";
  height: 125px;
  width: 125px;
  position: absolute;
  background-color: $teal;
  border-radius: 50%;
  margin-top: 40px;
  margin-left: 75px;
}

.four {
  color: $white;
  z-index: 4;
}

@keyframes floatby {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(1000%);
  }
}

@keyframes floatby2 {
  0% {
    transform: translateX(-225px) scale(1.3);
    // transform: scale(1.5);
  }
  100% {
    transform: translateX(1000%) scale(1.3);
    // transform: scale(1.5);
  }
}

.just-space {
  color: white;
  font-weight: 900;
  letter-spacing: 1px;
}

.go-home {
  font-weight: 900;
  text-align: center;
  margin-top: 10px;
  letter-spacing: 2px;
  transition: 0.5s;
  cursor: pointer;
}

.go-home > div {
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

.go-home > div:hover {
  color: darken(white, 60%);
}

.moon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
  align-items: center;
  font-size: 100px;
  z-index: 2;
  position: relative;
  //   margin-top: 50px;
}

.moon {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: linear-gradient(
    225deg,
    rgba(101, 69, 151, 1) 50%,
    rgb(41, 26, 66) 90%
  );
}

.moon::before {
  content: "";
  height: 25px;
  width: 25px;
  background: linear-gradient(225deg, rgba(200, 200, 200, 1) 0%, $teal 85%);
  border-radius: 50%;
  position: absolute;
  margin-left: 25px;
  margin-top: 40px;
  animation: flypast 20s linear infinite;
}

.moon::after {
  content: "";
  height: 25px;
  width: 25px;
  background: linear-gradient(225deg, rgba(200, 200, 200, 1) 0%, $teal 85%);
  border-radius: 50%;
  position: absolute;
  margin-left: 25px;
  margin-top: 40px;
  animation: flybehind 20s linear infinite;
  z-index: -1;
}

@keyframes flypast {
  0% {
    margin-left: -50px;
    box-shadow: -25px 0px 1px -2px $darkblue;
  }
  25% {
    margin-top: 50px;
    box-shadow: -15px 2px 1px -2px $darkblue;
  }
  50% {
    box-shadow: -6px 0px 1px -2px $darkblue;
    margin-top: 40px;
    margin-left: 125px;
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    margin-left: 100px;
    opacity: 0;
  }
}

@keyframes flybehind {
  0% {
    margin-left: 125px;
    opacity: 0;
  }
  49% {
    margin-left: 125px;
    opacity: 0;
  }
  50% {
    margin-left: 125px;
    opacity: 1;
    margin-top: 40px;
  }
  75% {
    margin-top: 30px;
  }
  100% {
    margin-left: -50px;
  }
}

// this code could be cool somewhere else

.fourohfour {
  color: $darkblue;
  text-decoration: none;
  position: relative;
  display: block;
  font-size: 100px;
}
.fourohfour:before {
  content: attr(data-hover);
  position: absolute;
  color: white;
  left: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  animation: filltext 5s linear;
  animation-delay: 0.9s;
}

@keyframes filltext {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.star {
  height: 1px;
  width: 1px;
  background-color: rgb(161, 161, 117);
  position: absolute;
  animation: starshine 2s linear infinite;
}

@keyframes starshine {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
    opacity: 0.1;
  }
  100% {
    transform: scale(1);
  }
}

.spaceship-container {
  //   z-index: 3;
  //   position: relative;
}

.spaceship {
  position: absolute;
  height: 100px;
  width: 50px;
  background-color: #dadada;
  left: 25px;
  bottom: 200px;
  border-radius: 50%;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  //   border: 5px solid darkred;
  box-shadow: inset 0px 10px 0px 2px white;
  // z-index: 3;
  //   transform: scale(0.4) rotate(90deg);
  animation: spaceshipfly 30s linear infinite;
}

@keyframes spaceshipfly {
  0% {
    transform: translateY(200%) translateX(-100%) rotate(85deg) scale(0.4);
  }
  100% {
    transform: translateX(15000%) rotate(85deg) scale(0.4) translateY(-5000%);
  }
}

.spaceship::before,
.spaceship::after {
  content: "";
  background-color: rgb(116, 1, 1);
  height: 30px;
  width: 30px;
  position: absolute;
  z-index: -1;
  box-shadow: inset 0px -3px 0px 2px rgb(58, 0, 0);
}

.spaceship::before {
  margin-top: 70px;
  margin-left: -18px;
  border-top-left-radius: 80%;
  border-bottom-left-radius: 20%;
}

.spaceship::after {
  margin-top: 70px;
  margin-left: 40px;
  border-top-right-radius: 80%;
  border-bottom-right-radius: 20%;
}

.back-engine {
  background-color: rgb(58, 57, 57);
  height: 12px;
  width: 30px;
  margin-left: 10px;
  margin-top: 98px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
  z-index: -1;
}

.back-engine::after {
  content: "";
  height: 800px;
  width: 15px;
  background: linear-gradient(
    225deg,
    rgba(172, 171, 171, 1) 0%,
    rgba(94, 94, 94, 0) 100%
  );
  margin-left: 8px;
  position: absolute;
}

.back-engine::before {
  content: "";
  height: 25px;
  width: 50px;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(172, 171, 171, 1) 0%,
    rgba(94, 94, 94, 0) 100%
  );
  border-top-right-radius: 80%;
  border-top-left-radius: 80%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-left: -8px;
  margin-top: 5px;
  animation: smokeplume 2s linear infinite;
}

@keyframes smokeplume {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }
  100% {
    transform: scale(3) translateY(40%);
    opacity: 0;
  }
}

.sun {
  height: 150px;
  width: 150px;
  background-color: rgb(245, 245, 108);
  position: absolute;
  border-radius: 50%;
  animation: suntrip 50s linear infinite;
  box-shadow: 0px 0px 100px 5px orange;
  margin-bottom: 75px;
}

@keyframes suntrip {
  0% {
    transform: translateX(1000%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-1000%);
  }
}

.comet,
.comet2,
.comet3 {
  position: absolute;
  height: 2px;
  width: 2px;
  background-color: hsl(246, 23%, 36%);
  border-radius: 50%;
  box-shadow: 0px 0px 10px 1px rgb(77, 132, 150);
  // margin-top: 200px;
}

.comet {
  animation: cometfly 40s linear infinite;
}

.comet2 {
  animation: comet2fly 30s linear infinite;
  animation-delay: 5s;
}

.comet3 {
  animation: comet3fly 40s linear infinite;
}

@keyframes cometfly {
  0% {
    transform: translateX(80000%) rotate(-3deg) translateY(-1500%);
  }
  100% {
    transform: translateX(-80000%) rotate(-3deg) translateY(2000%);
  }
}

@keyframes comet2fly {
  0% {
    transform: translateX(-4000%) rotate(-3deg) translateY(-25000%);
  }
  100% {
    transform: translateX(500%) rotate(-3deg) translateY(15000%);
  }
}

.comet:after,
.comet2::after,
.comet3::after {
  content: "";
  position: absolute;
  margin-top: 1px;
  margin-left: 4px;
}

.comet::after {
  width: 100px;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(172, 171, 171, 1) 0%,
    rgba(94, 94, 94, 0) 100%
  );
}

.comet2::after {
  width: 1px;
  height: 100px;
  margin-top: -100px;
  margin-left: 1px;
  background: linear-gradient(
    0deg,
    rgba(172, 171, 171, 1) 0%,
    rgba(94, 94, 94, 0) 100%
  );
}

.alien::before {
  content: "";
  position: absolute;
  height: 35px;
  width: 10px;
  background-color: lightblue;
  margin-top: 8px;
  margin-left: 45px;
  border-radius: 40%;
  box-shadow: 1px 0px 10px 5px rgba(77, 132, 150, 0.8);

  // z-index: 5;
  // border-top-left-radius: 50%;
}

.alien::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 12px;
  border-radius: 25% 10% 10% 95%;
  background-color: rgb(53, 11, 53);
  margin-left: -7px;
  margin-top: 5px;
  // box-shadow: inset -3px -20px 0px -3px rgb(31, 7, 31);
}

.alien {
  content: "";
  position: absolute;
  height: 50px;
  width: 55px;
  border-top-left-radius: 40%;
  border-top-right-radius: 35%;
  border-bottom-left-radius: 75%;
  border-bottom-right-radius: 30%;
  background-color: rgb(99, 1, 99);
  box-shadow: inset -3px -7px 0px 2px rgb(49, 0, 49);
  margin-left: 0px;
  top: 50px;
  left: 1000px;
  animation: alienFly 30s linear infinite;
}

@keyframes alienFly {
  0% {
    transform: scale(0.3) scaleX(-1) translateX(-4000%);
  }
  35% {
    transform: scale(0.3) scaleX(-1) translateX(-4000%);
  }
  65% {
    transform: scale(0.3) scaleX(-1) translateX(10000%);
  }
  100% {
    transform: scale(0.3) scaleX(-1) translateX(10000%);
  }
}

.alien-smoke,
.alien-smoke2,
.alien-smoke3,
.alien-smoke4,
.alien-smoke5 {
  position: absolute;
  background-color: rgb(128, 0, 96);
  height: 10px;
  width: 10px;
  border-radius: 25%;
  margin-top: 10px;
  animation: aliensmokeplume 3s linear infinite;
  transform: rotate(45deg);
}

.alien-smoke2 {
  animation-delay: 1.5s;
}

.alien-smoke3 {
  animation-delay: 2.5s;
}

.alien-smoke4 {
  animation-delay: 3.5s;
}

.alien-smoke5 {
  animation-delay: 5s;
}

@keyframes aliensmokeplume {
  0% {
    transform: scale(0.3) translateX(-100%) rotate(0deg);
    opacity: 0.5;
  }
  100% {
    transform: scale(10) translateX(-400%) rotate(90deg);
    background-color: rgb(29, 6, 65);
    opacity: 0;
  }
}
